#container {
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  gap: 1rem;
  padding: 10px;
}

#canvas {
  border: 1px solid #000;
  background-color: var(--background-color, #fff);
  touch-action: none;
  justify-self: center;
}

#controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 1rem;
  margin-bottom: 15px;
  border: 3px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

#controls .form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

#controls label {
  display: block;
  margin-bottom: 0.2rem;
}

#controls input {
  display: block;
  margin-bottom: 0.2rem;
}
